body {
}

.mud-paper {
    border-radius: 0px;
}

.profile-card {
    border-radius: 8px !important;
}

.profile-card:hover {
    transform: translateY(-4px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15) !important;
}