body {
}

.mud-paper {
    border-radius: 0px;
}

.profile-card {
    border-radius: 8px !important;
}

    .profile-card:hover {
        transform: translateY(-4px);
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15) !important;
    }

@media (max-height: 500px) {
    .mobile-bottom-nav {
        display: none !important;
    }
}

.mobile-bottom-nav {
    height: auto;
    min-height: 60px;
    margin: 0 12px 30px 12px;
    width: calc(100% - 24px);
    left: 0;
    right: 0;
    background-color: rgba(var(--mud-palette-surface-rgb), 0.2) !important;
    backdrop-filter: blur(10px);
}

@media (max-width: 960px) {
    .mud-main-content {
        padding-top: 0 !important;
    }

    .footer-container-mobile {
        padding-bottom: 100px !important;
    }
}
