@inherits LayoutComponentBase

<MudLayout>
    <Header />

    <MudMainContent Style="display: flex; flex-direction: column; min-height: 100vh;">
        <MudContainer MaxWidth="MaxWidth.Large" Class="py-4" Style="flex: 1;">
            @Body
        </MudContainer>

        <Footer />
    </MudMainContent>
</MudLayout>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>
